<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>企业详情:<%=company.companyName%></div>
    <a href="/company/detail/<%=company.companyId%>/ios">iOS打包</a><div></div>
    <a href="/company/detail/<%=company.companyId%>/android">android打包</a><div></div>
    <a href="javascript:history.back();">返回</a> 
</body>
</html>