<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div>打包后台主页面</div>
    <a href="/company">查看企业列表</input></a><div></div>
    <a href="/logout">退出登录登陆</input></a><div></div>
</body>
</html>